total_projects.md
total_projects_full.md
test_op.py

# Python
.venv/

# IDE
.idea/

# Source files
source_reports/

# temporary and raw files
raw_materials/

#data for processing
data_processing/

# Jupiter noteboks
*.ipynb

# Hidden files
mappings/~$*